{% extends 'base.html' %}
{% block start %}

  <div class="container mt-5">
    <form class = "col-6 mx-auto card p-3 shadow-lg" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update Recipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
          <input type="text" required class="form-control" value="{{recipe.recipe_name}}" id="exampleInputEmail1" name = "recipe_name">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
          <textarea class="form-control" name = "recipe_description">{{recipe.recipe_description}}</textarea>
        </div>
        <div class="mb-3 ">
          <label class="form-label" for="exampleInputPassword1">Recipe Image</label>
          <img src="{{recipe.recipe_image.url}}" alt="Recipe Image" style="height: 100px;">
          <input type="file" class="form-control"  name = "recipe_image">
        </div>
        <button type="submit" class="btn btn-success">Update Recipe</button>
      </form>

  </div>

{% endblock %}